<%- include('includes/head') %>
<%- include('includes/navbar') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo</p>

      <%- include('includes/messages') %>

      <div class="resposive-table">
        <table class="table my-3">
          <tr>
            <td>Judson</td>
            <td>Rian</td>
            <td>(61) 99604-9393</td>
            <td>judson_@outlook.com</td>
          </tr>
          <tr>
            <td>Mari</td>
            <td>Batistussi</td>
            <td>(61) 99604-9393</td>
            <td>batistussi@outlook.com</td>
          </tr>
          <tr>
            <td>Teste 1</td>
            <td>Sobrenome 1</td>
            <td>(61) 99999-9999</td>
            <td>teste@outlook.com</td>
          </tr>
        </table>
      </div>

    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('includes/footer') %>
